main {
  display: flex;
  height: 90vh;
}

.hero {
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 65vh;
}

.hero .icons {
  margin-top: 1.5rem;
  display: flex;
  justify-content: space-between;
  font-size: 2rem;
}

/* icon styles */
#github {
  margin: 0 0.5rem;
  color: #24292e;
}

#linkedin {
  margin: 0 0.5rem;
  color: #0077b5;
}

.make-transparent {
  color: transparent;
}
